<mtapp:setting
    id="email_notification"
    label="<__trans phrase="Email Notification">:">
    <input type="checkbox" class="cb" value="1" name="email_notification" id="email_notification" <mt:if name="email_notification">checked="checked"</mt:if> />
    <p class="hint"><__trans phrase="Send email notifications for entry transfer and publish attempts."></p>
</mtapp:setting>

<mtapp:setting
    id="automatic_transfer"
    label="<__trans phrase="Automatic Editor Transfer">:">
    <input type="checkbox" class="cb" value="1" name="automatic_transfer" id="automatic_transfer" <mt:if name="automatic_transfer">checked="checked"</mt:if>/>
    <p class="hint"><__trans phrase='Automatically transfer entries to first available editor upon publish attempt, where "first available" is defined as the editor with the most recent published entry.'></p>
</mtapp:setting>
